<button routerLink="/companies/create">Créer une entreprise</button>

<table *ngIf="companies.length > 0" class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Code</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <td>{{ company.id }}</td>
      <td>{{ company.name }}</td>
      <td>{{ company.code }}</td>
      <td>
        <button (click)="deleteCompany(company.id)">Supprimer</button>
        <button [routerLink]="['/update-compa', company.id]">Mettre à jour</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="companies.length === 0 && !error" class="message">Aucune entreprise à afficher.</div>