<!-- app.component.html -->

<nav class="fixed top-0 left-0 w-full flex items-center justify-between z-10 bg-white p-3">
  <a class="text-green-700 hover:text-green-600 px-4 py-2 text-2xl font-bold uppercase md:text-3xl" href="#">Rim Best Price</a>
  <div class="lg:hidden">
    <button class="block px-4 py-2 text-gray-900 hover:text-gray-800 focus:outline-none focus:text-gray-800" (click)="toggleModal()" aria-label="Toggle navigation">
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>
  <div class="hidden lg:flex lg:items-center" id="navbarNav">
    <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
      <li class="nav-item">
        <a class="text-gray-900 hover:text-green-600 px-4 py-2" routerLink="" (click)="closeModal()">Home</a>
      </li>
      <li class="nav-item">
        <a class="text-gray-900 hover:text-green-600 px-4 py-2" routerLink="/login" (click)="closeModal()">Login</a>
      </li>
      <li class="nav-item">
        <a class="text-gray-900 hover:text-green-600 px-4 py-2" routerLink="/registration" (click)="closeModal()">Register</a>
      </li>
    </ul>
    <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
      <li class="nav-item">
        <button class="text-gray-900 hover:text-gray-800 px-4 py-2 focus:outline-none" (click)="logout(); closeModal()" *ngIf="authService.isAuthenticated() | async">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div class="fixed top-0 right-0 flex flex-col items-end justify-start w-full mt-16" [ngClass]="{'hidden': !isModalOpen, 'block': isModalOpen}">
  <div class="bg-white rounded-lg p-6 mr-2 shadow-lg">
    <ul class="text-gray-900">
      <li class="mb-4">
        <a class="block py-2 px-4 hover:text-green-600" routerLink="" (click)="closeModal()">Home</a>
      </li>
      <li class="mb-4">
        <a class="block py-2 px-4 hover:text-green-600" routerLink="/login" (click)="closeModal()">Login</a>
      </li>
      <li class="mb-4">
        <a class="block py-2 px-4 hover:text-green-600" routerLink="/registration" (click)="closeModal()">Register</a>
      </li>
      <li>
        <button class="block py-2 px-4 hover:text-gray-800 focus:outline-none" (click)="logout(); closeModal()" *ngIf="authService.isAuthenticated() | async">Logout</button>
      </li>
    </ul>
  </div>
</div>
