<div class="flex justify-center items-center h-screen bg-white md:bg-customGreen">
  <!-- Adjusted Image Container -->
  <div class="md:flex justify-center items-center bg-green-100 md:bg-opacity-50 w-full md:w-auto md:max-w-md hidden">
    <img src="assets/undraw_adventure.svg" alt="traveling" class="block" />
  </div>

  <!-- Adjusted Search Form to Match Registration Form Layout and Styling -->
  <form [formGroup]="searchForm" (ngSubmit)="searchTickets()" class="bg-white rounded-lg p-10 max-w-md w-full md:ml-8 md:mr-8 mt-8 md:mt-0">
    <h2 class="text-2xl font-semibold mb-6 text-green-700">Recherche de billets</h2>
    <div class="mb-6">
      <label for="departureCity" class="block text-gray-700 mb-2">Ville de départ:</label>
      <input type="text" formControlName="departureCity" id="departureCity" required class="form-input rounded-lg border border-gray-300 focus:border-green-500 focus:ring focus:ring-green-500 focus:ring-opacity-50 px-4 py-3 text-lg w-full">
    </div>
    <div class="mb-6">
      <label for="arrivalCity" class="block text-gray-700 mb-2">Ville d'arrivée:</label>
      <input type="text" formControlName="arrivalCity" id="arrivalCity" required class="form-input rounded-lg border border-gray-300 focus:border-green-500 focus:ring focus:ring-green-500 focus:ring-opacity-50 px-4 py-3 text-lg w-full">
    </div>
    <div class="mb-6">
      <label for="departureDate" class="block text-gray-700 mb-2">Date de départ:</label>
      <input type="date" formControlName="departureDate" id="departureDate" required class="form-input rounded-lg border border-gray-300 focus:border-green-500 focus:ring focus:ring-green-500 focus:ring-opacity-50 px-4 py-3 text-lg w-full">
    </div>
    <div class="mb-6">
      <label for="ticketClass" class="block text-gray-700 mb-2">Classe de billet:</label>
      <select formControlName="ticketClass" id="ticketClass" required class="form-select rounded-lg border border-gray-300 focus:border-green-500 focus:ring focus:ring-green-500 focus:ring-opacity-50 px-4 py-3 text-lg w-full">
        <option value="ECONOMY">Classe économique</option>
        <option value="BUSINESS">Classe affaires</option>
        <option value="FIRST_CLASS">Première classe</option>
      </select>
    </div>
    <button type="submit" class="bg-green-700 text-white px-6 py-4 rounded-lg hover:bg-green-600 text-xl w-full">Rechercher</button>
  </form>
</div>

<!-- Cheapest Tickets Section Styled Consistently -->
<div *ngIf="cheapestTickets && cheapestTickets.length > 0" id="cheapestTicketsSection" class="min-h-screen bg-white flex flex-col justify-center">
  <div class="w-full max-w-6xl mx-auto px-4">
    <h3 class="text-md md:text-3xl font-semibold text-center text-green-700 mb-32">Billets les moins chers</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <a *ngFor="let ticket of cheapestTickets" [routerLink]="['/details-ticket', ticket.id]"
         class="transform transition duration-500 hover:scale-110 cursor-pointer bg-customGreen hover:bg-white border border-gray-200 rounded-lg p-6 text-black hover:text-green-700 shadow-md hover:shadow-lg">
        <p><strong>Numéro de ticket:</strong> {{ ticket.ticketNumber }}</p>
        <p><strong>Prix:</strong> {{ ticket.price }}</p>
        <p><strong>Classe de ticket:</strong> {{ ticket.ticketClass }}</p>
        <p><strong>Nombre de tickets disponibles:</strong> {{ ticket.numberOfTicketsAvailable }}</p>
        <p><strong>ID du vol:</strong> {{ ticket.flightId }}</p>
      </a>
    </div>
  </div>
</div>

<!-- No Results Popup -->
<div *ngIf="showNoResultPopup" class="fixed top-0 left-0 right-0 bottom-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg p-6 max-w-sm mx-auto">
    <h2 class="text-xl font-semibold mb-4">Aucun résultat trouvé</h2>
    <p class="mb-4">Nous n'avons trouvé aucun billet correspondant à vos critères de recherche.</p>
    <button type="button" class="bg-green-700 text-white px-6 py-2 rounded hover:bg-green-600" (click)="showNoResultPopup = false">Close</button>
  </div>
</div>