<h2>Création d'un vol</h2>

<form [formGroup]="flightForm" (ngSubmit)="createFlight()">
  <div class="form-group">
    <label for="flightNumber">Numéro de vol:</label>
    <input type="text" formControlName="flightNumber" id="flightNumber" required>
  </div>
  <div class="form-group">
    <label for="departureCity">Ville de départ:</label>
    <input type="text" formControlName="departureCity" id="departureCity" required>
  </div>
  <div class="form-group">
    <label for="arrivalCity">Ville d'arrivée:</label>
    <input type="text" formControlName="arrivalCity" id="arrivalCity" required>
  </div>
  <div class="form-group">
    <label for="departureDate">Date de départ:</label>
    <input type="datetime-local" formControlName="departureDate" id="departureDate" required>
  </div>
  <div class="form-group">
    <label for="arrivalDate">Date d'arrivée:</label>
    <input type="datetime-local" formControlName="arrivalDate" id="arrivalDate" required>
  </div>
  <div class="form-group">
    <label for="companyAerienneId">Compagnie aérienne:</label>
    <select formControlName="companyAerienneId" id="companyAerienneId" required>
      <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
    </select>
  </div>
  <button type="submit">Créer le vol</button>
</form>