<form [formGroup]="flightForm" (ngSubmit)="createFlight()">
    <div>
      <label for="flightNumber">Numéro de vol:</label>
      <input type="text" id="flightNumber" formControlName="flightNumber">
    </div>
    <div>
      <label for="departureCity">Ville de départ:</label>
      <input type="text" id="departureCity" formControlName="departureCity">
    </div>
    <div>
      <label for="arrivalCity">Ville d'arrivée:</label>
      <input type="text" id="arrivalCity" formControlName="arrivalCity">
    </div>
    <div>
      <label for="departureDate">Date de départ:</label>
      <input type="date" id="departureDate" formControlName="departureDate">
    </div>
    <div>
      <label for="arrivalDate">Date d'arrivée:</label>
      <input type="date" id="arrivalDate" formControlName="arrivalDate">
    </div>
    <div>
      <label for="price">Prix:</label>
      <input type="number" id="price" formControlName="price">
    </div>
    <div>
        <label for="companyAerienne">Compagnie aérienne:</label>
        <select id="companyAerienne" formControlName="companyAerienne">
          <option value="" disabled selected>Choisissez une compagnie aérienne</option>
          <option *ngFor="let company of companies" [value]="company.nom">{{ company.nom }}</option>
        </select>
      </div>
      
    <button type="submit">Créer le vol</button>
  </form>
  
  <div *ngIf="error" class="error-message">{{ error }}</div>
  