<form [formGroup]="flightForm" (ngSubmit)="createFlight()">
    <label for="flightNumber">Flight Number:</label>
    <input type="text" id="flightNumber" formControlName="flightNumber">
    
    <label for="departureCity">Departure City:</label>
    <input type="text" id="departureCity" formControlName="departureCity">
    
    <label for="arrivalCity">Arrival City:</label>
    <input type="text" id="arrivalCity" formControlName="arrivalCity">
    
    <label for="departureDate">Departure Date:</label>
    <input type="date" id="departureDate" formControlName="departureDate">
    
    <label for="arrivalDate">Arrival Date:</label>
    <input type="date" id="arrivalDate" formControlName="arrivalDate">
    
    <label for="companyId">Company:</label>
    <select formControlName="companyAerienneId" class="form-control">
      <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
    </select>
    
    <button type="submit">Create Flight</button>
  </form>
  