<button routerLink="/tickets/create">Créer un billet</button>

<h2>List of Tickets</h2>

<div *ngIf="tickets && tickets.length > 0; else noTickets">
  <table>
    <thead>
      <tr>
        <th>Ticket Number</th>
        <th>Price</th>
        <th>Ticket Class</th>
        <th>Number of Tickets Available</th>
        <th>Flight</th>
        
        
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ ticket.ticketNumber }}</td>
        <td>{{ ticket.price }}</td>
        <td>{{ ticket.ticketClass }}</td>
        <td>{{ ticket.numberOfTicketsAvailable }}</td>
        <td>{{ ticket.flightId }}</td>
        
        
        <td>
          <button [routerLink]="['/update-tick', ticket.id]">Mettre à jour</button>
          <button >Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noTickets>
  <p>No tickets available.</p>
</ng-template>
